---
import TimerParts from "./TimerParts.astro";

export interface Props {
  wClass: string;
}

const { wClass } = Astro.props;

const partWidth = "9";
const partsContainerClass = "flex w-3/10 ";
---

<div class={`${wClass} flex jusifty-center m-auto my-5 lg:m-0`}>
  <div class={partsContainerClass}>
    <TimerParts id="day1" width={partWidth} />
    <TimerParts id="day2" width={partWidth} />
  </div>
  <div class="inline-block w-[2vw] h-1"></div>
  <div class={`${partsContainerClass}`}>
    <TimerParts id="hour1" width={partWidth} />
    <TimerParts id="hour2" width={partWidth} />
  </div>
  <div class="inline-block w-[2vw] h-1"></div>
  <div class={partsContainerClass}>
    <TimerParts id="min1" width={partWidth} />
    <TimerParts id="min2" width={partWidth} />
  </div>
</div>
