---
import TimerParts from "./TimerParts.astro";

export interface Props {
  wClass: string;
}

const { wClass } = Astro.props;

const partWidth = "12";
const partsContainerClass = "flex";
---

<div class={`${wClass} flex my-5 jusifty-start`}>
  <div class={partsContainerClass}>
    <TimerParts id="day1" width={partWidth} />
    <TimerParts id="day2" width={partWidth} />
  </div>
  <div class={`${partsContainerClass} px-5`}>
    <TimerParts id="hour1" width={partWidth} />
    <TimerParts id="hour2" width={partWidth} />
  </div>
  <div class={partsContainerClass}>
    <TimerParts id="min1" width={partWidth} />
    <TimerParts id="min2" width={partWidth} />
  </div>
</div>
